*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    background-color:antiquewhite;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.navbar a {
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}
.navbar a:hover {
    color: #007BFF;
}

.navbar a.active {
    font-weight: 700;
}

.home-section {
    text-align: center;
    height:500px;
    color:#ffffff;
    text-shadow:  0 2px 4px rgba(0, 0, 0, 0.6);
    background-image:url(./assets/1234.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-section h1 {
    font-size: 48px;
    margin-bottom: 30px;
}
.home-section p {
    font-size: 24px;
    margin-bottom: 30px;
}
.btn{
    background-color:#0A2342;
    color:#ffffff;
    border:none;
    padding:5px 30px;
}

.btn:hover{
    background-color:#007BFF;
    cursor:pointer;
    transform:scale(1.05);
    transition: all 0.3s ease-in-out;
}


/*Future Tours*/
.featured-tours {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

.featured-tours h2 {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 600;
}

.destination{
    color:#e78f22;
}

.item {
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #e78f22;
    border-radius: 8px;
}

.item h2 {
    font-size: 22px;
    margin-top: 10px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.item p {
    font-size: 15px;
}

