*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    
}

.navbar {
    background-color:antiquewhite;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.navbar a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.navbar a:hover {
    color: #007BFF;
}

.home-section {
    text-align: center;
    background-color: #e0f7fa;
    height:500px;
    background-image:url(./assets/backgroundsafari.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-section h1 {
    font-size: 48px;
    margin-bottom: 30px;
}
.home-section p {
    font-size: 20px;
    margin-bottom: 30px;
}
.btn{
    background-color:#0d8ea5;
    padding:5px 30px;
}



/*Why choose us section*/
.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}
